.item {
    box-shadow: $box-shadow;
    height: 35rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
    border-radius: 3px;
    transition: all .3s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);

        .item__img {
            filter: brightness(90%) grayscale(0);
        }
    }

    &__title {
        font-family: $font-display;
        font-size: 2.8rem;
        padding: 1rem;
        text-align: center;
        vertical-align: middle;

        &--yellow {
            background-color: $color-tertiary;
            color: $color-grey-dark-3;
        }
    }

    &__content {
        height: 100%;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .3s;

        filter: brightness(75%) grayscale(10%);
    }
}