// COLORS
$color-primary-dark: #870b0f;
$color-primary: #a70d13;
$color-primary-light: #ed1c24;

$color-secondary-light: #182a56;
$color-secondary: #111d3c;
$color-secondary-dark: #1b1a26;

$color-tertiary: #f9ca24;
$color-tertiary-dark: #ddaa1f;

$color-grey-dark-1: #353b48;
$color-grey-dark-2: #777;
$color-grey-dark-3: #111317;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #ebebeb;

$darken-image: rgba(0, 0, 0, 0.8);

$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-display: "Squada One", sans-serif;
